@font-face {
    font-family: 'MaPolice'; /* Nom que tu vas utiliser en CSS */
    src: url('./fonts/StadioNowDisplay.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body {
    font-family: 'Arial', sans-serif;
    background-color: #F9DACD;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #F5895D;
    color: white;
    text-align: center;
    padding: 20px;
}
.container {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
h1, h2 {
    color: #77B099;
    font-family: 'MaPolice', sans-serif;
}
h1, h2:hover{
    color: #F5895D;
}
.section {
    margin-bottom: 20px;
}
.button {
    display: inline-block;
    background-color: #F6A447;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}
.button:hover {
    background-color: #f45314;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #F6A447;
    color: white;
   
}
.marque{
    color: #77B099;
}
.Info{
    color:#F5895D;
    font-family: 'MaPolice', sans-serif;
}
.Info:hover{
    color:#f45314;
    font-family: 'MaPolice', sans-serif;
}